<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.operation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.setting.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.example.operation.START_LASTACTIVITY" /> <!-- 相当于活动的代号 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.setting.VideoBroadcastActivity" />
        <activity android:name=".activity.login.GuideActivity" />
        <activity android:name=".activity.setting.DIYtActivity" />
        <activity android:name=".activity.setting.SongtActivity" />
        <activity android:name=".activity.setting.StyletActivity" />
        <activity
            android:name=".activity.setting.Timing.TimeSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="选取定时时间"
            android:theme="@android:style/Theme.Dialog" />
        <service android:name=".activity.setting.Timing.RegisterCodeTimerService" />
        <activity
            android:name=".activity.setting.Timing.ModeSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="选取定时模式"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activity.setting.Timing.TimerActivity" ></activity>
    </application>

</manifest>