<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.operation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.setting.MainActivity">
            <intent-filter>
                <action android:name="com.example.operation.START_LASTACTIVITY" /> <!-- 相当于活动的代号 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.setting.VideoBroadcastActivity" />
        <activity
            android:name=".activity.login.GuideActivity"
            android:label="契氛">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.setting.DIYActivity"
            android:label="自定义模式" />
        <activity
            android:name=".activity.setting.SongActivity"
            android:label="歌曲设置" />
        <activity
            android:name=".activity.setting.StyleActivity"
            android:label="模式选择" />
        <activity android:name=".activity.setting.TimingActivity" />

        <service
            android:name=".activity.setting.BlueToothService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>